beautifulsoup4==4.14.3
docling
fastapi
flashrank
google-genai
huggingface-hub==0.36.0
langchain-ollama
langchain-text-splitters
lxml==6.0.2
nibabel
nilearn
numpy==2.0.2
pandas
pgvector
psycopg2-binary
pydantic==2.12.5
python-dotenv
requests==2.32.5
scikit-image
sentence-transformers==5.1.2
tokenizers==0.22.2
torch==2.8.0
transformers==4.57.6
uvicorn[standard]